body nav{
    font-weight: 700;

}


.jumbotron{
    height: 80vh;

    margin-bottom: 2em;

    z-index: +22;
    background: url('img/header_lg.png') no-repeat center center fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: contain;
    margin-top: 1em ;
    margin-bottom: 2em !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;

}


@media(max-width:985px){
  .jumbotron{
      background: url('img/header_xs.png') no-repeat center center fixed;
      background-size: contain;

  }
}

.jumbotron2{
    height: 80vh !important;
    position: absolute;
    margin-bottom: 2em;
    width: 100vw;
    z-index: -10;
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 46%, #ffffff 46%, #2196f3 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 46%,#ffffff 46%,#2196f3 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ffffff 46%,#ffffff 46%,#2196f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2196f3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trans-bg{
    background-color: black;
}



.trans-bg span{
    color: #2196F3 !important;
}

.member{
    padding-bottom: 1em;
}

.blue-bg{
    background-color: #2196F3 !important;
}

.center{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     flex-wrap: wrap;


 }
.center2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    color: white;

}

.black{
    color: black !important;
}


h3{
    margin-top: 4em;
    margin-bottom: 1em;
}

h2{
    margin-bottom: 1em;
}

.section > .center {
    margin-bottom: 4em;
    padding-top: 3em;
}
.section{
    min-height: 400px;
    margin-bottom: 4em;
}


.parallax {
    /* The image used */

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4em;

}





.p1{
    background-image: url(img/p1.jpeg);
}

.p2{
    background-image: url(img/p2.jpg);
}

.p3{
    background-image:  url(img/p3.jpg);
}
.p4{

}
.p5{

}

.center br{
    width: 100vw;
}


.col-2 .fa{
    color: #2196F3;
}

.blue{
    color:#2196F3;
}

.no-m a:hover{
    cursor: pointer; cursor: hand;
}

